* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    background-color: #212529;
    overflow: hidden;
    display: flex;
    text-align: center;
}
.logo {
    font-size: 26px;
    padding: 14px 820px 14px 50px;
    text-align: center;
}
.logo a {
    text-decoration: none;
    color: white;
}
.menu a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.menu a:hover {
    background-color: #198753;
}
.wrap {
    display: flex;
}
.wrap img {
    height: 700px;
    width: auto;
}
.login {
    padding: 50px;
}
.login input {
    width: 350px;
    height: 30px;
}
.state {
    display: flex;
}
.state input {
    width: 100px;
    height: 30px;
    justify-content: 10px space-between;
}