* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header {
     min-height: 100vh;
     width: 100%;
     background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4,9,30,0.7)),url(../img/aklan.jpg);
     background-position: center;
     background-size: cover;
     position: relative;
}
nav {
    display: flex;
    padding: 0.5% 4%;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    opacity: .6;
    position: sticky;
    top: 0;
}
nav img {
    width: 100px;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: deepskyblue;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1 {
    font-size: 62px;
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
}

/*----- History -----*/

.history {
    background-color: #212329;
    height: auto;
}

.content h2 {
    color: white;
    text-align: left;
    padding: 5%;
    font-size: 50px;
    background-color: black;
}
.content img {
    float: left;
    margin: 20px 10px 10px 3%;
    width: 50%;
}
.content p {
    color: white;
    text-align: left;
    margin: 20px 35px 0 35px;
    text-align: justify;
}
.bottom {
    padding-bottom: 50px;
}

/*----- Festivals -----*/

.Festivals {
    background-color: #212329;
    height: auto;
}
.F-content h2 {
    color: white;
    background-color: black;
    padding: 5%;
    font-size: 40px;
}
.F-content h3 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    font-size: 30px;
}
.F-content img {
    align-items: center;
    padding-left: 22%;
    height: 50%;
    width: 55%;
    padding-bottom: 30px;
}
.F-content p {
    color: white;
    padding-right: 100px;
    padding-left: 100px;
    text-align: justify;
}

/*----- spots -----*/

.Spots {
    background-color: #212329;
    height: auto;
}
.S-content h2 {
    color: white;
    background-color: black;
    padding: 5%;
    font-size: 40px;
}
.S-content h3 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    font-size: 30px;
}
.S-content img {
    align-items: center;
    padding-left: 22%;
    height: 50%;
    width: 55%;
    padding-bottom: 30px;
}
.S-content p {
    color: white;
    padding-right: 100px;
    padding-left: 100px;
    text-align: justify;
}

/*----- foods -----*/

.Foods {
    background-color: #212329;
    height: auto;
}
.fo-content h2 {
    color: white;
    background-color: black;
    padding: 5%;
    font-size: 40px;
}
.fo-content h3 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    font-size: 30px;
}
.fo-content img {
    align-items: center;
    padding-left: 22%;
    height: 50%;
    width: 55%;
    padding-bottom: 30px;
}
.fo-content p {
    color: white;
    padding-right: 100px;
    padding-left: 100px;
    text-align: justify;
}

/*----- foods -----*/

footer {
    background-color: black;
    height: auto;
    font-family: open sans;
    padding-top: 40px;
    color: white;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 11px;
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem o 3rem 0;
    padding-bottom: 50px;
}
.socials li {
    margin: 0 10px;
}
.socials a {
    text-decoration: none;
    color: white;
}
.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i {
    color: aqua;
}
.bottom {
    padding-bottom: 50px;
}